{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
</head>
<body>
    
    <h2>
   {{CV.0.name}} 
    </h2>
    <hr>
    <p>
        <img src="{% static CV.0.pics%}" width = "200">
    </p>
    <h2>
    {{CV.0.age}}
    </h2>
    <h2>Обо мне</h2>
    <h5>
        {{CV.0.about}}
    </h5>
    <h2>
        Опыт работы
    </h2>
    <h5>
        {% for item in CV.0.exp%}
        <ul>
           <li>{{item}}</li>
        </ul>
        {%endfor%}
    </h5>
    <h2>Образование</h2>
    <h5>
        {%for item in CV.0.edu%}
    </h5>
    <ul>
        <li>{{item}}</li>
    </ul>
    {%endfor%}
    <h2>Навыки</h2>
    <h5>
        {%for item in CV.0.skills%}
    </h5>
    <ul>
        <li>{{item}}</li>
    </ul>
    {%endfor%}
            <h2>Контакты</h2>
            {%for item in CV.0.contacts%}
            <a href="{{item.link}}">
                <img src="{% static item.img%}" width = "40">
                </a>
            {%endfor%}
    <h5>
            <p align="center">
            <a href="/navigation">
                Навигация
                </a>
            </p>
        </h5>
</body>
</html>